<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<p th:text="${person.getName() + ', ' + person.getAge()}">VALUE</p>
<p th:text="${'Email: ' + person.getEmail()}">VALUE</p>
<p th:text="${person.getId()}">VALUE</p>

<a th:href="@{/people/{id}/edit(id = ${person.getId()})}">Change the name!</a>

<!--Form to delete a person
    this form will send a DELETE request to the people/id
    method that work with this request is implemented in the controller
-->
<br>
<form th:method="DELETE" th:action="@{/people/{id}(id = ${person.getId()})}">
    <input type="submit" value="Delete this person">
</form>


</body>
</html>